heymax_analytics:
  target: dev
  outputs:
    dev:
      type: bigquery
      method: service-account
      project: heymax-analytics-stack
      dataset: heymax_analytics
      keyfile: /Users/bharatsarkar/secrets/heymax-analytics-sa.json
      location: asia-southeast1
      priority: interactive
      threads: 4
      timeout_seconds: 300


